<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <%data.map(ele=>{%>
            <h4><%=ele.name%></h4>
<img src="<%=ele.img%>" alt="">

<h4><%=ele.price%></h4>
<h4><%=ele.description%></h4>
<h4><form action="/MyProducts" method="POST" >
    <input type="hidden" name="pname" id="pname" value="<%=ele.name%>">
    <input type="hidden" name="pimg" id="pimg" value="<%=ele.img%>">
    
    <input type="hidden" name="pprice" id="pprice" value="<%=ele.price%>">
    <input type="hidden" name="pdesc" id="pdesc" value="<%=ele.description%>">
    <input type="submit" value="add-to-card">
</form></h4>


            <%});%>
    </div>
</body>
</html>